@media(max-width:980px)
{

/* ------footer------ */

    footer .fs2 .ff1{
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    footer .fs2{
        width: 100%;
        flex-direction: column;
        margin-top: 30px;
        height: auto;
    }

    footer .fs1 .f3{
        width: 100%;
        height: auto;
    }

    footer .fs1 .f2{
        width: 100%;
        height: auto;
    }

    footer .fs1 .f1{
        width: 100%;
        height: auto;
    }

    footer .fs1{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    footer{
        width: 100%;
        height: auto;
    }

/*----------- icons--------- */

    /* .icon .ic .i1{
        width: 50%;
        height: auto;
    } */

    .icon .ic{
        width: 100%;
        height: auto;
    }

    .icon{
        width: 100%;
        height: auto;
    }


/* --------latest------- */

    .ln .latest .ln1{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .ln .latest{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .ln{
        width: 100%;
        height: auto;
    }

/* ---------You may(ym)------- */

    .ym .may{
        width: 100%;
        height: auto;
        /* flex-direction: column; */
    }

    .ym{
        width: 100%;
        height: auto;
    }

/* ---------trending------ */

    .trending .tw h1{
        font-size: 35px;
    }

    .trending .tw{
        /* flex-direction: column; */
        width: 100%;
        height: auto;
    }

    .trending{
        width: 100%;
        height: auto;
    }

/* -------home2------ */

    .home2 .photos .pho1 h2{
        font-size: 20px;
        margin-left: 10px;
    }

    .home2 .photos .pho1{
        width: 100%;
        height: auto;
    }

    .home2 .photos{
        width: 100%;
        height: auto;
    }

    .home2{
        width: 100%;
        height: auto;
    }


/*-------- home-------*/

    .home .ht button{
        width: 40%;
        height: 40px;
        font-size: 10px;
    }

    .home .ht p{
        font-size: 16px;
        margin-left: 0;
        margin-right: 0;
        height: auto;
    }

    .home .ht h1{
        font-size: 30px;
        height: auto;
    }

    .home .ht h2{
        font-size: 40px;
        height: auto;
    }

    .home .ht{
        width: 50%;
        height: auto;
    }

    .home{
        flex-direction: column;
        height: auto;
    }

/* ------section------ */

    .line span{
        font-size: 20px;
        height: auto;
    }

    .line p{
        font-size: 20px;
    }

    .line{
        width: 100%;
        height: auto;
    }

/* --------header------ */

    header .icon{
        width: 30%;
        height: auto;
        font-size: 25px;
    }

    header nav ul li a{
        width: 100%;
        height: auto;
        font-size: 20px;
    }

    header nav{
        width: 100%;
        height: auto;
    }

    header .logo{
        width: 30%;
        height: auto;
    }

    header{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}



@media(max-width:720px)
{

/* ------footer------ */

    footer .fs2 .ff1{
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    footer .fs2{
        width: 100%;
        flex-direction: column;
        margin-top: 30px;
        height: auto;
    }

    footer .fs1 .f3{
        width: 100%;
        height: auto;
    }

    footer .fs1 .f2{
        width: 100%;
        height: auto;
    }

    footer .fs1 .f1{
        width: 100%;
        height: auto;
    }

    footer .fs1{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    footer{
        width: 100%;
        height: auto;
    }

/*----------- icons--------- */

    .icon .ic{
        width: 100%;
        height: auto;
    }

    .icon{
        width: 100%;
        height: auto;
    }

/* --------latest------- */

    .ln .latest .ln1{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .ln .latest{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .ln{
        width: 100%;
        height: auto;
    }

/* ---------You may(ym)------- */

    .ym .may .m1{
        width: 50%;
        height: auto;

    }

    .ym .may{
        width: 100%;
        height: auto;
        /* flex-direction: column; */
    }

    .ym{
        width: 100%;
        height: auto;
    }

/* ---------trending------ */

    .trending .tw .t1{
        width: 50%;
        height: auto;
    }

    .trending .tw h1{
        font-size: 35px;
    }

    .trending .tw{
        /* flex-direction: column; */
        width: 100%;
        height: auto;
    }

    .trending{
        width: 100%;
        height: auto;
    }

/* -------home2------ */

    .home2 .photos .pho1 h2{
        font-size: 16px;
    }

    .home2 .photos .pho1{
        width: 100%;
        height: auto;
    }

    .home2 .photos{
        width: 100%;
        height: auto;
    }

    .home2{
        width: 100%;
        height: auto;
    }

/*-------- home-------*/

    .home .ht button{
        width: 40%;
        height: 40px;
        font-size: 10px;
    }

    .home .ht p{
        font-size: 16px;
        margin-left: 0;
        margin-right: 0;
        height: auto;
    }

    .home .ht h1{
        font-size: 30px;
        height: auto;
    }

    .home .ht h2{
        font-size: 30px;
        height: auto;
    }

    .home .ht{
        width: 50%;
        height: auto;
        top: 3%;
    }

    .home{
        flex-direction: column;
        height: auto;
    }

/* ------section------ */

    .line span{
        font-size: 15px;
        height: auto;
    }

    .line p{
        font-size: 15px;
    }

    .line{
        width: 100%;
        height: auto;
    }


/* ---------header------- */

    header .icon{
        width: 30%;
        height: auto;
        font-size: 20px;
    }

    header nav ul li a{
        width: 100%;
        height: auto;
        font-size: 16px;
    }

    header nav{
        width: 100%;
        height: auto;
    }

    header .logo{
        width: 30%;
        height: auto;
    }

    header{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}


@media(max-width:480px)
{

/* ------footer------ */

    footer .fs2 .ff1{
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    footer .fs2{
        width: 100%;
        flex-direction: column;
        margin-top: 30px;
        height: auto;
    }

    footer .fs1 .f3{
        width: 100%;
        height: auto;
    }

    footer .fs1 .f2{
        width: 100%;
        height: auto;
    }

    footer .fs1 .f1{
        width: 100%;
        height: auto;
    }

    footer .fs1{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    footer{
        width: 100%;
        height: auto;
    }

/*----------- icons--------- */

    .icon .ic .i1{
        width: 100%;
        height: auto;
    }

    .icon .ic{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .icon{
        width: 100%;
        height: auto;
    }

/* --------latest------- */

    .ln .latest .ln1{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .ln .latest{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .ln{
        width: 100%;
        height: auto;
    }

/* ---------You may(ym)------- */

    .ym .may .m1{
        width: 100%;
        height: auto;

    }

    .ym .may{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .ym{
        width: 100%;
        height: auto;
    }

/* ---------trending------ */

    .trending .tw .t1{
        width: 100%;
        height: auto;
    }

    .trending .tw h1{
        font-size: 35px;
    }

    .trending .tw{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .trending{
        width: 100%;
        height: auto;
    }

/* -------home2------ */

    .home2 .photos .pho1 h2{
        margin-left: 25px;
        font-size: 30px;
    }

    .home2 .photos .pho1{
        width: 100%;
        height: auto;
    }

    .home2 .photos{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .home2{
        width: 100%;
        height: auto;
    }

/*-------- home-------*/

    .home .ht button{
        width: 30%;
        height: 20px;
        font-size: 10px;
    }

    .home .ht p{
        font-size: 10px;
        margin-left: 0;
        margin-right: 0;
        height: auto;
    }

    .home .ht h1{
        font-size: 20px;
        height: auto;
    }

    .home .ht h2{
        font-size: 20px;
        height: auto;
    }

    .home .ht{
        width: 50%;
        height: auto;
        top: 0;
    }

    .home{
        flex-direction: column;
        height: auto;
    }

/* ------section------ */

    .line span{
        font-size: 12px;
        height: auto;
    }

    .line p{
        font-size: 12px;
    }

    .line{
        width: 100%;
        height: auto;
    }

/* ---------header------- */

    header .icon{
        width: 30%;
        height: auto;
        font-size: 20px;
    }

    header nav ul li a{
        width: 100%;
        height: auto;
        font-size: 16px;
    }

    header nav{
        width: 100%;
        height: auto;
    }

    header .logo{
        width: 30%;
        height: auto;
    }

    header{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}