#header{
    background-color: #ff9064;
}
#home{
    height: 800px;
    background-color: #ff9064;
}
#home #hp{
    margin-top: 190px;
}
#home #hp1{
    margin-top: 240px;
}
#home #hp1 #fo1{
    font-size: 80px;
}
#home #hp1 #fo2{
    font-size: 70px;
}
#home #hp1 #fo3{
    font-size: 35px;
    margin-top: 50px;
}
#home #info{
    margin-top: 100px;
}
#experties{
    margin-top: 100px;
}
#experties #bi{
    color: #ff9064;
}
#work{
    margin-top: 100px;
}
#work #btn1{
    width: 15%;
    height: 50px;
    border: 1px solid #ff9064;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 50px;
    color: #ff9064;
}
#work #wo{
    margin-left: 70px;
}
#about{
    height: 500px;
    background: url(/image/);
    margin-top: 200px;
}
#about .progress-bar{
    background-color: #ff9064;
}
#about #af{
    color: #ff9064;
}
#client{
    margin-top: 150px;
}
#test{
    margin-left: 550px;
}
#news{
    margin-top: 150px;
}
footer{
    height: 500px;
    background-color: black;
    margin-top: 100px;
}
#footer{
    margin-top: 130px;
}
#icon{
    color: #ff9064;
}
#btn2{
    width: 25%;
    height: 50px;
    color: white;
    margin-left: 80px;
    margin-top: 60px;
    border: 1px solid white;
    border-radius: 50px;
}
#btn3{
    width: 25%;
    height: 50px;
    color: white;
    background-color: #ff9064;
    margin-left: 80px;
    margin-top: 60px;
    /* border: 1px solid white; */
    border-radius: 50px;
}